In [268]:
import pandas as pd
import numpy as np 
import re
import warnings
warnings.filterwarnings('ignore')

In [269]:
movie_data=pd.read_csv(r"C:\Users\Administrator\Desktop\Machine Learning project-MaktabKhooneh\IMBD\movies.csv")
rating_data=pd.read_csv(r"C:\Users\Administrator\Desktop\Machine Learning project-MaktabKhooneh\IMBD\ratings.csv")

در قسمت اول که سیستم توصیه گر مبتنی بر محتوا است ما به ژانر فیلم ها نیاز داریم تا براساس ورودی که از کاربر میگیریم بتونیم فیلم ها و ژانر اون ها رو پیدا کنیم و بر اساس بالاتین امتیازی که هر ژانری گرفته بتونیم به کاربر فیلم توصیه کنیم 
پس نیازی به دیتاست مربوط به "ریتینگ" نداریم

In [270]:
movie_data.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

 لازمه که ستون های مرتبط به ژانر رو اسپارس کنیم تا بر اساس آن ببینم هر فیلمی شامل چه ژانر هایی میشود 
از طرفی ورودی کاربر بر اساس نام فیلم است پس لازمه که ستون عنوان رو بر اساس عنوان تمیز کنیم و دیتای سال رو جدا در نظر بگیریم تا بتونیم بر اساس اسم فیلمی که در پروفایل کاربر بوده نوع ژانر رو پیدا کنیم

In [271]:
movie_data["year"]=movie_data["title"].str.extract("(\(\d+\))")

In [272]:
movie_data["title"]=movie_data["title"].str.replace("(\(\d+\))" , "" , regex=True)
movie_data["title"]=movie_data["title"].str.strip()

In [273]:
movie_data["genres"]=movie_data["genres"].str.split("|")

In [274]:
moviesGenre=movie_data.copy()

In [275]:
for index , rows in movie_data.iterrows():
    for genre in rows["genres"]:
        moviesGenre.at[index , genre]=1
moviesGenre.head()

,movieId,title,genres,year,Adventure,Animation,Children,Comedy,Fantasy,Romance,...,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",(1995),1.0,1.0,1.0,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Jumanji,"[Adventure, Children, Fantasy]",(1995),1.0,NaN,1.0,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Grumpier Old Men,"[Comedy, Romance]",(1995),NaN,NaN,NaN,1.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",(1995),NaN,NaN,NaN,1.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Father of the Bride Part II,[Comedy],(1995),NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [276]:
moviesGenre.fillna(0 , inplace=True)

جهت انجام ضرب ماتریسی لازمه که جاهای خالی جدول با صفر پر کنیم

In [277]:
moviesGenre.head()

,movieId,title,genres,year,Adventure,Animation,Children,Comedy,Fantasy,Romance,...,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",(1995),1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji,"[Adventure, Children, Fantasy]",(1995),1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Grumpier Old Men,"[Comedy, Romance]",(1995),0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",(1995),0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Father of the Bride Part II,[Comedy],(1995),0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

اطلاعات ورودی که در پروفایل کاربر وجود دارد و امتیاز هایی که به فیلم داده

In [278]:
userInput = [
            {'title':'Breakfast Club, The', 'rating':5},
            {'title':'Toy Story', 'rating':3.5},
            {'title':'Jumanji', 'rating':2},
            {'title':"Pulp Fiction", 'rating':5},
            {'title':'Akira', 'rating':4.5}
         ] 
userInputpd=pd.DataFrame(userInput)
userInputpd

                 title  rating
0  Breakfast Club, The     5.0
1            Toy Story     3.5
2              Jumanji     2.0
3         Pulp Fiction     5.0
4                Akira     4.5

خب حالا اینجا به دو تا چیز نیاز داریم یکی اینکه فیلم هایی که کاربر دیده چه ژانری دارند که از طریق عنوان در دیتاست فیلم ها جستجو میکنیم و جدا کنیم و دومی هم اینکه دیتاهای به دست آمده رو با پروفایل کاربر ادغام کنیم تا یک جدول کاملی داشته باشیم که شامل آیدی و نام فیلم و رتبه فیلم هایی باشه که کاربر دیده

In [279]:
user_movie=movie_data[movie_data["title"].isin(userInputpd["title"].tolist())]
user_movie.drop(columns=["year" , "genres"] , axis=1 , inplace=True)

In [280]:
user_movie.head()

      movieId                title
0           1            Toy Story
1           2              Jumanji
257       296         Pulp Fiction
973      1274                Akira
1445     1968  Breakfast Club, The

In [281]:
user_id=pd.merge(user_movie , userInputpd)
user_id

   movieId                title  rating
0        1            Toy Story     3.5
1        2              Jumanji     2.0
2      296         Pulp Fiction     5.0
3     1274                Akira     4.5
4     1968  Breakfast Club, The     5.0

In [282]:
table_user=moviesGenre[moviesGenre["movieId"].isin(user_id["movieId"].tolist())]

In [283]:
table_user.drop(columns=["title" , "genres", "year"] , axis=1 , inplace=True)

In [284]:
table_user.set_index("movieId" , inplace=True)

In [285]:
table_user.reset_index(drop=True , inplace=True)

In [286]:
user_interest=table_user.transpose().dot(user_id["rating"])

در اینجا با ضرب امتیاز های فیلم هایی که کاربر دیده در ژانر های همان فیلم ها میتونیم میزان علاقه مندی کاربر به ژانر ها رو وزن دهی کنیم  که نتایج نشون میده کاربر به ژانر کمدی و درام و ماجراجویی علاقه داره

In [287]:
user_interest

Adventure             10.0
Animation              8.0
Children               5.5
Comedy                13.5
Fantasy                5.5
Romance                0.0
Drama                 10.0
Action                 4.5
Crime                  5.0
Thriller               5.0
Horror                 0.0
Mystery                0.0
Sci-Fi                 4.5
War                    0.0
Musical                0.0
Documentary            0.0
IMAX                   0.0
Western                0.0
Film-Noir              0.0
(no genres listed)     0.0
dtype: float64

In [288]:
moviesGenre.drop(columns=["genres" , "movieId" , "year"] , axis=1,inplace=True)

In [289]:
moviesGenre.set_index("title" , inplace=True)

من در اینجا عنوان رو به عنوان شاخص در نظر گرفتم تا مستقیما وقتی جدول اصلی را در ضریب های علاقه مندی کاربر ضرب میکنیم مستقیم فیلم هارو نشون بده

In [290]:
moviesGenre

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
title,,,,,,,,,,,,,,,,,,,,
Toy Story,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Jumanji,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Grumpier Old Men,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Waiting to Exhale,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Father of the Bride Part II,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Black Butler: Book of the Atlantic,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
No Game No Life: Zero,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Flint,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Bungo Stray Dogs: Dead Apple,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Andrew Dice Clay: Dice Rules,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [291]:
recommend_table=((moviesGenre *user_interest ).sum(axis=1))/(user_interest.sum())

In [292]:
recommend_table.sort_values(ascending=False).head()

title
Inside Out                             0.734266
Wizards of Waverly Place: The Movie    0.685315
Dragonheart 2: A New Beginning         0.678322
Interstate 60                          0.678322
Rubber                                 0.671329
dtype: float64

نتایج حاصل از این حدول نشون میده که فیلم هایی که در الویت قرار دارند تا به کاربر پیشنهاد بدیم و همانطور که  مشاهده میکنید حتما ژانر کمدی و درام و ماجراجویی در ژانر این فیلم ها هست

In [293]:
movie_data.loc[movie_data["title"].isin(recommend_table.sort_values(ascending=False).head(10).keys())]

,movieId,title,genres,year
1390,1907,Mulan,"[Adventure, Animation, Children, Comedy, Drama...",(1998)
2250,2987,Who Framed Roger Rabbit?,"[Adventure, Animation, Children, Comedy, Crime...",(1988)
4631,6902,Interstate 60,"[Adventure, Comedy, Drama, Fantasy, Mystery, S...",(2002)
5490,26340,"Twelve Tasks of Asterix, The (Les douze travau...","[Action, Adventure, Animation, Children, Comed...",(1976)
7441,81132,Rubber,"[Action, Adventure, Comedy, Crime, Drama, Film...",(2010)
8349,108540,Ernest & Célestine (Ernest et Célestine),"[Adventure, Animation, Children, Comedy, Drama...",(2012)
8357,108932,The Lego Movie,"[Action, Adventure, Animation, Children, Comed...",(2014)
8597,117646,Dragonheart 2: A New Beginning,"[Action, Adventure, Comedy, Drama, Fantasy, Th...",(2000)
8900,134853,Inside Out,"[Adventure, Animation, Children, Comedy, Drama...",(2015)
9169,148775,Wizards of Waverly Place: The Movie,"[Adventure, Children, Comedy, Drama, Fantasy, ...",(2009)

## Collaborative Filtering

تا این جا ما بر اساس محتوای فیلم هایی که کاربر دیده و ژانر هایی که دوست داشته بهش فیلم پیشنهاد دادیم و حالا میخواهیم بریم سراغ روشی دیگر که بر اساس شباهت کاربر به کاربرهای دیگر و فیلم هایی که اونها دیدند و کاربرما ندیده توصیه میشه، پس به دیتاست دیگری که کاربر های دیگر رو نشون میده نیاز داریم

In [294]:
rating_data.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [295]:
rating_data.drop("timestamp" , axis=1 , inplace=True)

In [296]:
movie_data.head()

,movieId,title,genres,year
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",(1995)
1,2,Jumanji,"[Adventure, Children, Fantasy]",(1995)
2,3,Grumpier Old Men,"[Comedy, Romance]",(1995)
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",(1995)
4,5,Father of the Bride Part II,[Comedy],(1995)

اینجا دیگه نیازی به ستون ژانر ها نداریم چون بر اساس شباهت کاربر ها به یکدیگر بررسی میکنیم، شباهت کاربر ها به یکدیگر به این صورته که یک کاربر چند تا فیلم رو دیده و امتیاز داده و کاربر دیگری هم همون فیلم ها رو دیده و امتیازی مشابه داده و شباهت این کاربر هارو بر اساس روش های که برای انداره گیری شباهت یا فاصله و یا روش های دیگری که در داده کاوی استفاده میشه به دست می اوریم

In [297]:
movie_data.drop("genres" , axis=1 , inplace=True)

In [298]:
movie_data.shape

(9742, 3)

In [299]:
user_id

   movieId                title  rating
0        1            Toy Story     3.5
1        2              Jumanji     2.0
2      296         Pulp Fiction     5.0
3     1274                Akira     4.5
4     1968  Breakfast Club, The     5.0

کابرهایی که حداقل یکی از فیلمهایی که کابر ما با این آیدی ها (1 و 2و 296و 1274و 1968)  دیده رو دیده باشند رو پیدا میکنیم

In [300]:
UserSubset=rating_data[rating_data["movieId"].isin(user_id["movieId"].tolist())]

In [301]:
UserSubset.userId

0          1
16         1
320        4
422        4
516        5
        ...
99510    609
99534    610
99552    610
99636    610
99664    610
Name: userId, Length: 784, dtype: int64

متد گروپ بای به این صورته که در اینجا از یوزر آیدی به عنوان شاخص اصلی برای گروه بندی داده ها استفاده میکنه

In [302]:
UserSubsetGroup=UserSubset.groupby(["userId"])

In [303]:
UserSubsetGroup.get_group(500)["userId"]

79907    500
79942    500
79957    500
Name: userId, dtype: int64

In [304]:
UserSubsetGroup.group_keys

True

لازمه که گروه ها رو مرتب سازی کنیم بر اساس این کلید (کاربر هایی که تعداد فیلم های مشترک بیشتری داشتند مثلا اونایی که هر 5 تا فیلم رو دیدند رو بیاریم بالای جدول)

In [305]:
UserSubsetGroup=sorted(UserSubsetGroup  , key= lambda x: int(len(x[1])) , reverse=True)

In [306]:
UserSubsetGroup=UserSubsetGroup[:100]

In [332]:
UserSubsetGroup

[((91,),
         userId  movieId  rating
  14121      91        1     4.0
  14122      91        2     3.0
  14173      91      296     4.5
  14316      91     1274     5.0
  14383      91     1968     3.0),
 ((177,),
         userId  movieId  rating
  24900     177        1     5.0
  24901     177        2     3.5
  24930     177      296     5.0
  25069     177     1274     2.0
  25129     177     1968     3.5),
 ((219,),
         userId  movieId  rating
  31524     219        1     3.5
  31525     219        2     2.5
  31554     219      296     4.0
  31628     219     1274     2.5
  31680     219     1968     3.0),
 ((274,),
         userId  movieId  rating
  39229     274        1     4.0
  39230     274        2     3.5
  39288     274      296     5.0
  39448     274     1274     4.0
  39549     274     1968     4.0),
 ((298,),
         userId  movieId  rating
  44535     298        1     2.0
  44536     298        2     0.5
  44555     298      296     4.5
  44620     298     1274     4.0
  44655     298     1968     3.5),
 ((414,),
         userId  movieId  rating
  62294     414        1     4.0
  62295     414        2     3.0
  62425     414      296     5.0
  62769     414     1274     4.0
  62957     414     1968     5.0),
 ((474,),
         userId  movieId  rating
  73092     474        1     4.0
  73093     474        2     3.0
  73172     474      296     4.0
  73466     474     1274     2.0
  73641     474     1968     3.5),
 ((477,),
         userId  movieId  rating
  75424     477        1     4.0
  75425     477        2     4.0
  75447     477      296     4.5
  75558     477     1274     5.0
  75613     477     1968     4.0),
 ((480,),
         userId  movieId  rating
  76227     480        1     3.0
  76228     480        2     3.0
  76273     480      296     4.0
  76396     480     1274     4.0
  76462     480     1968     3.5),
 ((483,),
         userId  movieId  rating
  77222     483        1     4.0
  77223     483        2     4.0
  77265     483      296     5.0
  77375     483     1274     3.5
  77431     483     1968     3.5),
 ((599,),
         userId  movieId  rating
  92623     599        1     3.0
  92624     599        2     2.5
  92742     599      296     5.0
  93073     599     1274     5.0
  93269     599     1968     3.5),
 ((608,),
         userId  movieId  rating
  98666     608        1     2.5
  98667     608        2     2.0
  98723     608      296     5.0
  98882     608     1274     4.0
  98980     608     1968     4.0),
 ((50,),
        userId  movieId  rating
  7112      50        1     3.0
  7116      50      296     4.0
  7158      50     1274     4.0
  7175      50     1968     2.5),
 ((57,),
        userId  movieId  rating
  8035      57        1     5.0
  8071      57      296     3.0
  8230      57     1274     3.0
  8321      57     1968     4.0),
 ((68,),
         userId  movieId  rating
  10360      68        1     2.5
  10361      68        2     2.5
  10419      68      296     2.0
  10679      68     1968     3.0),
 ((103,),
         userId  movieId  rating
  15565     103        1     4.0
  15566     103        2     4.0
  15587     103      296     5.0
  15684     103     1968     4.0),
 ((135,),
         userId  movieId  rating
  20336     135        1     4.0
  20337     135        2     3.0
  20357     135      296     4.0
  20482     135     1968     4.0),
 ((182,),
         userId  movieId  rating
  26092     182        1     4.0
  26152     182      296     5.0
  26301     182     1274     5.0
  26418     182     1968     5.0),
 ((202,),
         userId  movieId  rating
  29378     202        1     4.0
  29379     202        2     4.0
  29401     202      296     4.0
  29597     202     1968     5.0),
 ((217,),
         userId  movieId  rating
  30885     217        1     4.0
  30886     217        2     2.0
  30932     217      296     2.0
  31224     217     1968     4.0),
 ((226,),
         userId  movieId  rating
  33044     226        1     3.5
  33045     226        2     3.0
  33083     226      296     4.5
  33217     226     1968     4.0),
 ((288,),
         userId  movieId  rating
  42114     288        1     4.5
  42115     288        2     2.0
  42150     288      296     5.0
  42438     288     1968     3.0),
 ((307,),
         userId  movieId  rating
  46733     307        1     4.0
  46734     307        2     2.5
  46790     307      296     4.5
  47011     307     1968     4.5),
 ((318,),
         userId  movieId  rating
  48984     318        2     3.5
  49009     318      296     4.5
  49091     318     1274     5.0
  49126     318     1968     3.5),
 ((322,),
         userId  movieId  rating
  49974     322        1     3.5
  49975     322        2     3.0
  49983     322      296     5.0
  50026     322     1968     3.0),
 ((330,),
         userId  movieId  rating
  50948     330        1     4.0
  50949     330        2     1.5
  50975     330      296     4.0
  51094     330     1968     5.0),
 ((357,),
         userId  movieId  rating
  54123     357        1     5.0
  54124     357        2     3.0
  54148     357      296     4.5
  54290     357     1968     4.0),
 ((434,),
         userId  movieId  rating
  67080     434        1     4.0
  67081     434        2     2.5
  67100     434      296     5.0
  67154     434     1274     5.0),
 ((448,),
         userId  movieId  rating
  68655     448        1     5.0
  68656     448        2     3.0
  68694     448      296     5.0
  68943     448     1968     3.0),
 ((469,),
         userId  movieId  rating
  72453     469        1     4.0
  72478     469      296     5.0
  72613     469     1274     4.0
  72696     469     1968     5.0),
 ((561,),
         userId  movieId  rating
  86582     561        1     4.0
  86583     561        2     4.0
  86601     561      296     4.5
  86710     561     1968     4.0),
 ((600,),
         userId  movieId  rating
  95101     600        1     2.5
  95102     600        2     4.0
  95154     600      296     4.5
  95306     600     1274     3.5),
 ((606,),
         userId  movieId  rating
  97364     606        1     2.5
  97418     606      296     5.0
  97592     606     1274     4.0
  97692     606     1968     4.0),
 ((610,),
         userId  movieId  rating
  99534     610        1     5.0
  99552     610      296     5.0
  99636     610     1274     5.0
  99664     610     1968     4.0),
 ((18,),
        userId  movieId  rating
  1772      18        1     3.5
  1773      18        2     3.0
  1796      18      296     4.0),
 ((19,),
        userId  movieId  rating
  2274      19        1     4.0
  2275      19        2     3.0
  2629      19     1968     2.0),
 ((21,),
        userId  movieId  rating
  3219      21        1     3.5
  3220      21        2     3.5
  3231      21      296     3.5),
 ((45,),
        userId  movieId  rating
  6477      45        1     4.0
  6511      45      296     5.0
  6662      45     1968     4.0),
 ((63,),
        userId  movieId  rating
  9157      63        1     5.0
  9172      63      296     5.0
  9242      63     1968     4.0),
 ((64,),
        userId  movieId  rating
  9428      64        1     4.0
  9466      64      296     4.5
  9622      64     1968     3.5),
 ((66,),
         userId  movieId  rating
  9979       66        1     4.0
  10002      66      296     5.0
  10128      66     1968     4.0),
 ((107,),
         userId  movieId  rating
  16970     107        1     4.0
  16971     107        2     5.0
  16992     107      296     3.0),
 ((122,),
         userId  movieId  rating
  18831     122        2     4.0
  18845     122      296     5.0
  18900     122     1968     4.5),
 ((132,),
         userId  movieId  rating
  19919     132        1     2.0
  19946     132      296     4.0
  20048     132     1968     4.0),
 ((140,),
         userId  movieId  rating
  21083     140        1     3.0
  21084     140        2     3.5
  21119     140      296     4.0),
 ((141,),
         userId  movieId  rating
  21691     141        1     4.0
  21700     141      296     4.0
  21734     141     1968     4.0),
 ((144,),
         userId  movieId  rating
  21968     144        1     3.5
  21969     144        2     3.0
  21989     144      296     4.0),
 ((153,),
         userId  movieId  rating
  22425     153        1     2.0
  22426     153        2     2.0
  22429     153      296     3.0),
 ((156,),
         userId  movieId  rating
  22684     156        1     4.0
  22707     156      296     5.0
  22891     156     1968     3.5),
 ((160,),
         userId  movieId  rating
  23226     160        1     4.0
  23227     160        2     4.0
  23264     160      296     5.0),
 ((166,),
         userId  movieId  rating
  23864     166        1     5.0
  23874     166      296     4.5
  23932     166     1968     2.5),
 ((198,),
         userId  movieId  rating
  28361     198      296     5.0
  28417     198     1274     4.0
  28454     198     1968     3.0),
 ((200,),
         userId  movieId  rating
  28934     200        1     3.5
  28949     200      296     5.0
  29025     200     1968     4.0),
 ((201,),
         userId  movieId  rating
  29268     201        1     5.0
  29283     201      296     5.0
  29337     201     1968     5.0),
 ((232,),
         userId  movieId  rating
  33898     232        1     3.5
  33899     232        2     4.0
  33913     232      296     5.0),
 ((240,),
         userId  movieId  rating
  35580     240        1     5.0
  35581     240        2     5.0
  35631     240      296     2.0),
 ((249,),
         userId  movieId  rating
  36374     249        1     4.0
  36375     249        2     4.0
  36398     249      296     4.0),
 ((266,),
         userId  movieId  rating
  38665     266        1     2.0
  38687     266      296     5.0
  38781     266     1968     2.0),
 ((275,),
         userId  movieId  rating
  40575     275        1     5.0
  40596     275      296     5.0
  40749     275     1968     4.0),
 ((282,),
         userId  movieId  rating
  41460     282        1     4.5
  41472     282      296     4.0
  41533     282     1968     4.0),
 ((292,),
         userId  movieId  rating
  43491     292        1     4.0
  43505     292      296     3.0
  43586     292     1968     3.0),
 ((294,),
         userId  movieId  rating
  43958     294        2     3.0
  43990     294      296     4.0
  44184     294     1968     3.0),
 ((304,),
         userId  movieId  rating
  45728     304        1     5.0
  45729     304        2     4.0
  45768     304      296     5.0),
 ((305,),
         userId  movieId  rating
  45944     305        2     3.5
  45962     305      296     5.0
  46076     305     1968     5.0),
 ((313,),
         userId  movieId  rating
  48261     313      296     5.0
  48336     313     1274     5.0
  48389     313     1968     2.0),
 ((323,),
         userId  movieId  rating
  50081     323        1     3.5
  50082     323        2     4.0
  50112     323      296     4.0),
 ((328,),
         userId  movieId  rating
  50670     328        1     5.0
  50681     328      296     5.0
  50765     328     1968     2.5),
 ((353,),
         userId  movieId  rating
  53492     353        1     5.0
  53493     353        2     4.0
  53547     353      296     5.0),
 ((359,),
         userId  movieId  rating
  54547     359        1     4.0
  54548     359        2     3.5
  54553     359      296     4.0),
 ((372,),
         userId  movieId  rating
  56128     372        1     3.0
  56180     372      296     4.0
  56313     372     1274     1.0),
 ((373,),
         userId  movieId  rating
  56364     373        1     3.0
  56365     373        2     3.0
  56415     373      296     5.0),
 ((380,),
         userId  movieId  rating
  56878     380        1     5.0
  56879     380        2     5.0
  56920     380      296     5.0),
 ((381,),
         userId  movieId  rating
  58096     381        1     3.5
  58097     381        2     4.0
  58212     381     1968     5.0),
 ((387,),
         userId  movieId  rating
  59269     387      296     5.0
  59453     387     1274     4.5
  59540     387     1968     3.5),
 ((391,),
         userId  movieId  rating
  60405     391        1     3.0
  60430     391      296     5.0
  60603     391     1968     4.0),
 ((411,),
         userId  movieId  rating
  62009     411        1     5.0
  62010     411        2     4.0
  62071     411      296     5.0),
 ((425,),
         userId  movieId  rating
  65884     425        2     3.0
  65914     425      296     4.0
  66035     425     1968     3.5),
 ((432,),
         userId  movieId  rating
  66798     432        1     2.5
  66799     432        2     4.0
  66814     432      296     2.5),
 ((462,),
         userId  movieId  rating
  71544     462        1     1.5
  71563     462      296     2.5
  71678     462     1968     4.0),
 ((470,),
         userId  movieId  rating
  72918     470        1     4.0
  72919     470        2     3.0
  72954     470      296     3.0),
 ((476,),
         userId  movieId  rating
  75355     476        1     4.0
  75356     476        2     4.0
  75380     476      296     3.0),
 ((484,),
         userId  movieId  rating
  77950     484        1     4.5
  77951     484        2     2.5
  78032     484     1968     4.0),
 ((489,),
         userId  movieId  rating
  78471     489        2     2.5
  78512     489      296     4.0
  78699     489     1968     4.0),
 ((500,),
         userId  movieId  rating
  79907     500        1     4.0
  79942     500     1274     4.0
  79957     500     1968     4.0),
 ((504,),
         userId  movieId  rating
  80168     504        1     4.0
  80171     504      296     4.0
  80184     504     1968     4.0),
 ((514,),
         userId  movieId  rating
  81082     514        1     4.0
  81096     514      296     4.0
  81190     514     1968     4.0),
 ((525,),
         userId  movieId  rating
  82613     525        1     4.0
  82614     525        2     3.5
  82713     525     1968     4.5),
 ((555,),
         userId  movieId  rating
  85291     555        1     4.0
  85325     555      296     4.0
  85541     555     1968     5.0),
 ((559,),
         userId  movieId  rating
  85984     559        1     5.0
  85985     559        2     4.0
  86029     559      296     3.0),
 ((560,),
         userId  movieId  rating
  86124     560        1     3.0
  86140     560      296     4.0
  86177     560     1274     3.5),
 ((562,),
         userId  movieId  rating
  87087     562        1     4.5
  87093     562      296     5.0
  87147     562     1968     5.0),
 ((570,),
         userId  movieId  rating
  88219     570        1     4.0
  88220     570        2     3.5
  88341     570     1968     4.0),
 ((573,),
         userId  movieId  rating
  88677     573        1     5.0
  88678     573        2     4.5
  88693     573      296     5.0),
 ((590,),
         userId  movieId  rating
  90517     590        1     4.0
  90518     590        2     2.5
  90546     590      296     4.5),
 ((603,),
         userId  movieId  rating
  96100     603        1     4.0
  96171     603      296     5.0
  96414     603     1274     1.0),
 ((604,),
         userId  movieId  rating
  97043     604        1     3.0
  97044     604        2     5.0
  97103     604      296     5.0),
 ((605,),
         userId  movieId  rating
  97143     605        1     4.0
  97144     605        2     3.5
  97151     605      296     2.0),
 ((607,),
         userId  movieId  rating
  98479     607        1     4.0
  98496     607      296     3.0
  98574     607     1968     5.0),
 ((1,),
      userId  movieId  rating
  0        1        1     4.0
  16       1      296     3.0),
 ((4,),
       userId  movieId  rating
  320       4      296     1.0
  422       4     1968     4.0)]

خب حالا اینجا شباهت بین 100 کاربر را با کاربر پروفایل با استفاده از ضریب همبستگی پیرسون حساب میکنیم 
که من این فرمول رو از دوره برداشتم

In [307]:
pearsonCorrelationDict = {}

for name, group in UserSubsetGroup:
    res = int(''.join(map(str, name)))
    #Let's start by sorting the input and current user group so the values aren't mixed up later on
    group = group.sort_values(by='movieId')
    inputMovies = user_id.sort_values(by='movieId')
    #Get the N for the formula
    nRatings = len(group)
    #Get the review scores for the movies that they both have in common
    temp_df = user_id[user_id['movieId'].isin(group['movieId'].tolist())]
    #And then store them in a temporary buffer variable in a list format to facilitate future calculations
    tempRatingList = temp_df['rating'].tolist()
    #Let's also put the current user group reviews in a list format
    tempGroupList = group['rating'].tolist()
    #Now let's calculate the pearson correlation between two users, so called, x and y
    Sxx = sum([i**2 for i in tempRatingList]) - pow(sum(tempRatingList),2)/float(nRatings)
    Syy = sum([i**2 for i in tempGroupList]) - pow(sum(tempGroupList),2)/float(nRatings)
    Sxy = sum( i*j for i, j in zip(tempRatingList, tempGroupList)) - sum(tempRatingList)*sum(tempGroupList)/float(nRatings)
    
    #If the denominator is different than zero, then divide, else, 0 correlation.
    if Sxx != 0 and Syy != 0:
        pearsonCorrelationDict[res] = Sxy/np.sqrt(Sxx*Syy)
    
    else:
        pearsonCorrelationDict[res] = 0

In [308]:
df = pd.DataFrame.from_dict(pearsonCorrelationDict , orient='index')
df.columns=["similarity"]
df["userId"]=df.index

In [309]:
df.index=range(len(df))

In [310]:
df.head()

   similarity  userId
0    0.438529      91
1    0.000000     177
2    0.451243     219
3    0.716115     274
4    0.959271     298

حالا میخواهیم 50 تا کاربر اول که بیشتری شباهت رو به کاربر پروفایل دارند مرتب کنیم

In [311]:
TopUser=df.sort_values(by="similarity" , ascending =False)[:50]

In [312]:
TopUser.head()

    similarity  userId
43         1.0     132
34         1.0      18
63         1.0     305
82         1.0     489
86         1.0     525

برای اینکه به اطلاعات فیلم ها برسیم اول لازمه که دیتا های جدول به دست اومده با دیتاهای امتیاز داده شده ادغام کنیم تا بتونیم نام فیلم ها رو بر اساس کلید آیدی فیلم روپیدا کنیم

In [313]:
TopUserRating=TopUser.merge(rating_data, left_on="userId" , right_on="userId" , how="inner")

In [314]:
TopUserRating.head()

   similarity  userId  movieId  rating
0         1.0     132        1     2.0
1         1.0     132       17     3.0
2         1.0     132       29     2.0
3         1.0     132       32     3.0
4         1.0     132       34     1.5

در این مرحله شباهت کاربر ها به کاربر پروفایل رو در امتیاز هایی که کاربران به فیلم ها دادند به دست میاریم که میشه امتیاز های وزن دهی شده
یعنی احتمالا کاربر پروفایل به فیلم 17 امتیاز 3 رو میداده

In [315]:
TopUserRating["WeightedRating"]=TopUserRating["similarity"] * TopUserRating["rating"]

In [316]:
TopUserRating.head()

   similarity  userId  movieId  rating  WeightedRating
0         1.0     132        1     2.0             2.0
1         1.0     132       17     3.0             3.0
2         1.0     132       29     2.0             2.0
3         1.0     132       32     3.0             3.0
4         1.0     132       34     1.5             1.5

دیتاهای وزن دهی شده رو باید نرمالایز کنیم نرمال کردن در اینجا یعنی مجوع امتیاز های در وزن تقسیم بر مجموع شباهت هایی که کاربر ها به کاربر پروفایل دارند

In [317]:
TopUserRatingWeighted=TopUserRating.groupby("movieId").sum()[["similarity" , "WeightedRating"]]

In [318]:
TopUserRatingWeighted.columns=["SumSimilarity" , "SumWeighted"]

In [319]:
TopUserRatingWeighted

         SumSimilarity  SumWeighted
movieId
1            36.354096   133.167946
2            31.005292    94.904257
3             8.783859    26.381456
4             0.866025     1.732051
5             7.165336    19.775255
...                ...          ...
187593        1.000000     5.000000
187595        0.937614     3.281651
187717        0.802955     4.014775
188189        0.802955     3.613298
189713        0.802955     2.007388

[6109 rows x 2 columns]

In [333]:
Recomm_df=pd.DataFrame()
Recomm_df["WeighAverageRecom"]=TopUserRatingWeighted["SumWeighted"]/TopUserRatingWeighted["SumSimilarity"]
Recomm_df["movieId"]=Recomm_df.index

In [334]:
Recomm_df.head()

         WeighAverageRecom  movieId
movieId
1                 3.663080        1
2                 3.060905        2
3                 3.003402        3
4                 2.000000        4
5                 2.759850        5

In [335]:
Recomm_df=Recomm_df.sort_values(by="WeighAverageRecom" , ascending=False )[:20]

In [336]:
Recomm_df

         WeighAverageRecom  movieId
movieId
3310                   5.0     3310
7579                   5.0     7579
905                    5.0      905
1211                   5.0     1211
140627                 5.0   140627
4298                   5.0     4298
152711                 5.0   152711
633                    5.0      633
5537                   5.0     5537
5485                   5.0     5485
6159                   5.0     6159
1046                   5.0     1046
105197                 5.0   105197
6184                   5.0     6184
6192                   5.0     6192
105585                 5.0   105585
32582                  5.0    32582
71268                  5.0    71268
3296                   5.0     3296
3813                   5.0     3813

In [337]:
Recomm_df["WeighAverageRecom"]

movieId
3310      5.0
7579      5.0
905       5.0
1211      5.0
140627    5.0
4298      5.0
152711    5.0
633       5.0
5537      5.0
5485      5.0
6159      5.0
1046      5.0
105197    5.0
6184      5.0
6192      5.0
105585    5.0
32582     5.0
71268     5.0
3296      5.0
3813      5.0
Name: WeighAverageRecom, dtype: float64

In [338]:
movie_data.loc[movie_data["movieId"].isin(Recomm_df["movieId"].tolist())]

      movieId                                      title    year
536       633                            Denise Calls Up  (1995)
687       905                      It Happened One Night  (1934)
799      1046                            Beautiful Thing  (1996)
912      1211  Wings of Desire (Himmel über Berlin, Der)  (1987)
2474     3296                           To Sir with Love  (1967)
2484     3310                                   Kid, The  (1921)
2851     3813                                  Interiors  (1978)
3189     4298         Rififi (Du rififi chez les hommes)  (1955)
3905     5485                                    Tadpole  (2002)
3936     5537                                Satin Rouge  (2002)
4231     6159                         All the Real Girls  (2003)
4241     6184                 Man Who Fell to Earth, The  (1976)
4246     6192         Open Hearts (Elsker dig for evigt)  (2002)
4969     7579                        Pride and Prejudice  (1940)
5848    32582        Wild Parrots of Telegraph Hill, The  (2003)
7134    71268   Tyler Perry's I Can Do Bad All by Myself  (2009)
8264   105197                                   Nebraska  (2013)
8276   105585                  Machete Kills (Machete 2)  (2013)
9022   140627                      Battle For Sevastopol  (2015)
9234   152711                    Who Killed Chea Vichea?  (2010)

 ده تا فیلم اولی که میتونیم به کاربر پیشنهاد بدیم که بر اساس امتیاز هایی که به فیلم هایی که دیده  و شباهت به کاربرانی که رفتار شبیه به این کاربر داشته اند به دست آوردیم